body {
  background: #555;
}

.quiz-content {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 10px;
}

.question-order, .text, .question-result {
  font-size: 110%;
}

.result-total-points, .question-result {
  font-weight: bold;
  font-size: 120%;
}

.question.result, .result-total-points, .rerun {
  padding: 10px;
}

ul {
  list-style-type: none;
}

li {
  padding: 5px;
}

input, label {
  cursor: pointer;
}

.question-image li {
  padding: 0px;
  display: inline-block;
}

.question-image .answer-input {
  display: none;
}

.question-image label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

.question-image label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.question-image label img {
  width: 230px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

.question-image :checked + label {
  border-color: #ddd;
}

.question-image :checked + label:before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

.question-image :checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
}